{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/pico.classless.min.css' %}">
</head>
<body>
<main>
  <p>We have the following tables in <code>db.sqlite3</code> replicated by <a
    href="https://litestream.io/">litestream</a>.</p>
  <dl>
    <dt>Table names:</dt>
    <dd>
      {% for name in tables %}
        <li>{{ name }}</li>
      {% endfor %}
    </dd>
    <dt>Index names:</dt>
    <dd>
      {% for name in index_tables %}
        <li>{{ name }}</li>
      {% endfor %}

    </dd>
  </dl>
</main>
</body>
</html>
